In [57]:
import os
import pandas as pd
import numpy as np
from common.utils import load_data, extract_data

In [58]:
# adjust the format of the data set
pd.options.display.float_format = '{:,.2f}'.format
np.set_printoptions(precision=2)

In [59]:
data_dir = "data"
# if not done already, extract zipped data and save as csv
extract_data(data_dir)

In [60]:
ts_data_load = load_data(data_dir)[['load']]
ts_data_load.head()

                        load
2012-01-01 00:00:00 2,698.00
2012-01-01 01:00:00 2,558.00
2012-01-01 02:00:00 2,444.00
2012-01-01 03:00:00 2,402.00
2012-01-01 04:00:00 2,403.00

In [61]:
ts_data_load.index

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2014-12-31 14:00:00', '2014-12-31 15:00:00',
               '2014-12-31 16:00:00', '2014-12-31 17:00:00',
               '2014-12-31 18:00:00', '2014-12-31 19:00:00',
               '2014-12-31 20:00:00', '2014-12-31 21:00:00',
               '2014-12-31 22:00:00', '2014-12-31 23:00:00'],
              dtype='datetime64[ns]', length=26304, freq='H')

In [62]:
#Now letâ€™s slice our ts_data set to access only specific parts of time sequences:
ts_data_load[:5].index

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [68]:
ts_data_load[::2].index

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 02:00:00',
               '2012-01-01 04:00:00', '2012-01-01 06:00:00',
               '2012-01-01 08:00:00', '2012-01-01 10:00:00',
               '2012-01-01 12:00:00', '2012-01-01 14:00:00',
               '2012-01-01 16:00:00', '2012-01-01 18:00:00',
               ...
               '2014-12-31 04:00:00', '2014-12-31 06:00:00',
               '2014-12-31 08:00:00', '2014-12-31 10:00:00',
               '2014-12-31 12:00:00', '2014-12-31 14:00:00',
               '2014-12-31 16:00:00', '2014-12-31 18:00:00',
               '2014-12-31 20:00:00', '2014-12-31 22:00:00'],
              dtype='datetime64[ns]', length=13152, freq='2H')

In [79]:
# To provide convenience for accessing longer time series, 
# you can also pass in the year or year and month as strings:
ts_data_load.loc['2012-01-01']

                        load
2012-01-01 00:00:00 2,698.00
2012-01-01 01:00:00 2,558.00
2012-01-01 02:00:00 2,444.00
2012-01-01 03:00:00 2,402.00
2012-01-01 04:00:00 2,403.00
2012-01-01 05:00:00 2,453.00
2012-01-01 06:00:00 2,560.00
2012-01-01 07:00:00 2,719.00
2012-01-01 08:00:00 2,916.00
2012-01-01 09:00:00 3,105.00
2012-01-01 10:00:00 3,174.00
2012-01-01 11:00:00 3,180.00
2012-01-01 12:00:00 3,184.00
2012-01-01 13:00:00 3,147.00
2012-01-01 14:00:00 3,122.00
2012-01-01 15:00:00 3,137.00
2012-01-01 16:00:00 3,486.00
2012-01-01 17:00:00 3,717.00
2012-01-01 18:00:00 3,659.00
2012-01-01 19:00:00 3,513.00
2012-01-01 20:00:00 3,344.00
2012-01-01 21:00:00 3,129.00
2012-01-01 22:00:00 2,873.00
2012-01-01 23:00:00 2,639.00

In [80]:
ts_data_load.loc['2012-1':'2012-2-28']

                        load
2012-01-01 00:00:00 2,698.00
2012-01-01 01:00:00 2,558.00
2012-01-01 02:00:00 2,444.00
2012-01-01 03:00:00 2,402.00
2012-01-01 04:00:00 2,403.00
...                      ...
2012-02-28 19:00:00 3,858.00
2012-02-28 20:00:00 3,687.00
2012-02-28 21:00:00 3,420.00
2012-02-28 22:00:00 3,122.00
2012-02-28 23:00:00 2,875.00

[1416 rows x 1 columns]

In [81]:
ts_data_load.loc['2012-1':'2012-1-2 00:00:00']

                        load
2012-01-01 00:00:00 2,698.00
2012-01-01 01:00:00 2,558.00
2012-01-01 02:00:00 2,444.00
2012-01-01 03:00:00 2,402.00
2012-01-01 04:00:00 2,403.00
2012-01-01 05:00:00 2,453.00
2012-01-01 06:00:00 2,560.00
2012-01-01 07:00:00 2,719.00
2012-01-01 08:00:00 2,916.00
2012-01-01 09:00:00 3,105.00
2012-01-01 10:00:00 3,174.00
2012-01-01 11:00:00 3,180.00
2012-01-01 12:00:00 3,184.00
2012-01-01 13:00:00 3,147.00
2012-01-01 14:00:00 3,122.00
2012-01-01 15:00:00 3,137.00
2012-01-01 16:00:00 3,486.00
2012-01-01 17:00:00 3,717.00
2012-01-01 18:00:00 3,659.00
2012-01-01 19:00:00 3,513.00
2012-01-01 20:00:00 3,344.00
2012-01-01 21:00:00 3,129.00
2012-01-01 22:00:00 2,873.00
2012-01-01 23:00:00 2,639.00
2012-01-02 00:00:00 2,458.00

In [82]:
ts_data_load.truncate(before='2013-11-01', after='2013-11-02')

                        load
2013-11-01 00:00:00 2,506.00
2013-11-01 01:00:00 2,419.00
2013-11-01 02:00:00 2,369.00
2013-11-01 03:00:00 2,349.00
2013-11-01 04:00:00 2,425.00
2013-11-01 05:00:00 2,671.00
2013-11-01 06:00:00 3,143.00
2013-11-01 07:00:00 3,438.00
2013-11-01 08:00:00 3,486.00
2013-11-01 09:00:00 3,541.00
2013-11-01 10:00:00 3,591.00
2013-11-01 11:00:00 3,585.00
2013-11-01 12:00:00 3,532.00
2013-11-01 13:00:00 3,491.00
2013-11-01 14:00:00 3,430.00
2013-11-01 15:00:00 3,358.00
2013-11-01 16:00:00 3,347.00
2013-11-01 17:00:00 3,478.00
2013-11-01 18:00:00 3,636.00
2013-11-01 19:00:00 3,501.00
2013-11-01 20:00:00 3,345.00
2013-11-01 21:00:00 3,131.00
2013-11-01 22:00:00 2,883.00
2013-11-01 23:00:00 2,626.00
2013-11-02 00:00:00 2,447.00