In [2]:
import os
import pandas as pd
import numpy as np
from common.utils import load_data, extract_data

In [10]:
# adjust the format of the data set
pd.options.display.float_format = '{:,.2f}'.format
np.set_printoptions(precision=2)
data_dir = "data"
# if not done already, extract zipped data and save as csv
ts_data = load_data(data_dir)

In [11]:
ts_data.head(10)

                        load  temp
2012-01-01 00:00:00 2,698.00 32.00
2012-01-01 01:00:00 2,558.00 32.67
2012-01-01 02:00:00 2,444.00 30.00
2012-01-01 03:00:00 2,402.00 31.00
2012-01-01 04:00:00 2,403.00 32.00
2012-01-01 05:00:00 2,453.00 31.33
2012-01-01 06:00:00 2,560.00 30.00
2012-01-01 07:00:00 2,719.00 29.00
2012-01-01 08:00:00 2,916.00 29.00
2012-01-01 09:00:00 3,105.00 33.33

In [15]:
# The primary function for changing frequencies is the asfreq() method. This
# method converts a time series to specified frequency and optionally provides
# a filling method to pad/backfill missing values. For a DatetimeIndex, this is
# basically just a thin but convenient wrapper around reindex() that generates a
# date _ range and calls reindex, as shown in the following example:
daily_ts_data = ts_data.asfreq(pd.offsets.BDay())
daily_ts_data.head(20)

               load  temp
2012-01-02 2,458.00 43.67
2012-01-03 2,780.00 26.33
2012-01-04 3,184.00  6.00
2012-01-05 3,014.00 22.33
2012-01-06 2,992.00 17.00
2012-01-09 2,820.00 20.67
2012-01-10 2,908.00 30.00
2012-01-11 2,872.00 27.67
2012-01-12 2,812.00 27.67
2012-01-13 2,747.00 30.00
2012-01-16 3,220.00  0.00
2012-01-17 2,915.00 29.00
2012-01-18 2,670.00 39.33
2012-01-19 3,144.00 11.33
2012-01-20 3,005.00 26.33
2012-01-23 2,808.00 22.67
2012-01-24 2,708.00 40.33
2012-01-25 2,653.00 37.00
2012-01-26 2,786.00 29.33
2012-01-27 2,736.00 31.00

In [16]:
# The asfreq function optionally provides a filling method to pad/backfill
# missing values. It returns the original data conformed to a new index with the
#     specified frequency, as shown below:
daily_ts_data.asfreq(pd.offsets.BDay(), method='pad')
daily_ts_data.head(5)

               load  temp
2012-01-02 2,458.00 43.67
2012-01-03 2,780.00 26.33
2012-01-04 3,184.00  6.00
2012-01-05 3,014.00 22.33
2012-01-06 2,992.00 17.00