In [8]:
import os
import pandas as pd
import numpy as np
from common.utils import load_data, extract_data
# adjust the format of the data set
# os.chdir("../../")
pd.options.display.float_format = '{:,.2f}'.format
np.set_printoptions(precision=2)
data_dir = "data"
# if not done already, extract zipped data and save as csv
ts_data = load_data(data_dir)

ts_data.head(10)

                        load  temp
2012-01-01 00:00:00 2,698.00 32.00
2012-01-01 01:00:00 2,558.00 32.67
2012-01-01 02:00:00 2,444.00 30.00
2012-01-01 03:00:00 2,402.00 31.00
2012-01-01 04:00:00 2,403.00 32.00
2012-01-01 05:00:00 2,453.00 31.33
2012-01-01 06:00:00 2,560.00 30.00
2012-01-01 07:00:00 2,719.00 29.00
2012-01-01 08:00:00 2,916.00 29.00
2012-01-01 09:00:00 3,105.00 33.33

In [9]:
ts_data.interpolate(limit = 8, method ='linear', limit_direction='both')

                        load  temp
2012-01-01 00:00:00 2,698.00 32.00
2012-01-01 01:00:00 2,558.00 32.67
2012-01-01 02:00:00 2,444.00 30.00
2012-01-01 03:00:00 2,402.00 31.00
2012-01-01 04:00:00 2,403.00 32.00
...                      ...   ...
2014-12-31 19:00:00 4,012.00 18.00
2014-12-31 20:00:00 3,856.00 16.67
2014-12-31 21:00:00 3,671.00 17.00
2014-12-31 22:00:00 3,499.00 15.33
2014-12-31 23:00:00 3,345.00 15.33

[26304 rows x 2 columns]