In [1]:
import os
import pandas as pd
import numpy as np
from common.utils import load_data, extract_data
# adjust the format of the data set
# os.chdir("../../")
pd.options.display.float_format = '{:,.2f}'.format
np.set_printoptions(precision=2)
data_dir = "data"
# if not done already, extract zipped data and save as csv
ts_data = load_data(data_dir)

ts_data.head(10)

                        load  temp
2012-01-01 00:00:00 2,698.00 32.00
2012-01-01 01:00:00 2,558.00 32.67
2012-01-01 02:00:00 2,444.00 30.00
2012-01-01 03:00:00 2,402.00 31.00
2012-01-01 04:00:00 2,403.00 32.00
2012-01-01 05:00:00 2,453.00 31.33
2012-01-01 06:00:00 2,560.00 30.00
2012-01-01 07:00:00 2,719.00 29.00
2012-01-01 08:00:00 2,916.00 29.00
2012-01-01 09:00:00 3,105.00 33.33

In [2]:
ts_data['hour'] = [ts_data.index[i].hour for i in range(len(ts_data))]
ts_data['month'] = [ts_data.index[i].month for i in range(len(ts_data))]
ts_data['dayofweek'] = [ts_data.index[i].day for i in range(len(ts_data))]
print(ts_data.head(5))

                        load  temp  hour  month  dayofweek
2012-01-01 00:00:00 2,698.00 32.00     0      1          1
2012-01-01 01:00:00 2,558.00 32.67     1      1          1
2012-01-01 02:00:00 2,444.00 30.00     2      1          1
2012-01-01 03:00:00 2,402.00 31.00     3      1          1
2012-01-01 04:00:00 2,403.00 32.00     4      1          1

In [3]:
# an example of how to use offset aliases on the ts_data set:
ts_data_shift = ts_data.shift(4, freq=pd.offsets.BDay())
ts_data_shift.head(5)

                        load  temp  hour  month  dayofweek
2012-01-05 00:00:00 2,698.00 32.00     0      1          1
2012-01-05 01:00:00 2,558.00 32.67     1      1          1
2012-01-05 02:00:00 2,444.00 30.00     2      1          1
2012-01-05 03:00:00 2,402.00 31.00     3      1          1
2012-01-05 04:00:00 2,403.00 32.00     4      1          1

In [6]:
# ts_data_shift_2 = ts_data.index.tshift(6, freq='D')
# ts_data_shift_2.head(5)
# doesnt work

AttributeError: 'DatetimeIndex' object has no attribute 'tshift'

In [9]:
def generated_lagged_features(ts_data, var, max_lag):
    for t in range(1, max_lag+1):
        ts_data[var+'_lag'+str(t)] = ts_data[var].shift(t, freq='1H')

In [11]:
generated_lagged_features(ts_data, 'temp', 8)
generated_lagged_features(ts_data, 'load', 8)
ts_data

,load,temp,hour,month,dayofweek,load_lag1,load_lag2,load_lag3,load_lag4,load_lag5,...,load_lag7,load_lag8,temp_lag1,temp_lag2,temp_lag3,temp_lag4,temp_lag5,temp_lag6,temp_lag7,temp_lag8
2012-01-01 00:00:00,"2,698.00",32.00,0,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 01:00:00,"2,558.00",32.67,1,1,1,"2,698.00",NaN,NaN,NaN,NaN,...,NaN,NaN,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 02:00:00,"2,444.00",30.00,2,1,1,"2,558.00","2,698.00",NaN,NaN,NaN,...,NaN,NaN,32.67,32.00,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 03:00:00,"2,402.00",31.00,3,1,1,"2,444.00","2,558.00","2,698.00",NaN,NaN,...,NaN,NaN,30.00,32.67,32.00,NaN,NaN,NaN,NaN,NaN
2012-01-01 04:00:00,"2,403.00",32.00,4,1,1,"2,402.00","2,444.00","2,558.00","2,698.00",NaN,...,NaN,NaN,31.00,30.00,32.67,32.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-31 19:00:00,"4,012.00",18.00,19,12,31,"4,199.00","4,319.00","4,141.00","3,912.00","3,893.00",...,"3,982.00","4,030.00",20.00,22.33,23.67,25.00,25.33,24.33,24.33,22.67
2014-12-31 20:00:00,"3,856.00",16.67,20,12,31,"4,012.00","4,199.00","4,319.00","4,141.00","3,912.00",...,"3,933.00","3,982.00",18.00,20.00,22.33,23.67,25.00,25.33,24.33,24.33
2014-12-31 21:00:00,"3,671.00",17.00,21,12,31,"3,856.00","4,012.00","4,199.00","4,319.00","4,141.00",...,"3,893.00","3,933.00",16.67,18.00,20.00,22.33,23.67,25.00,25.33,24.33
2014-12-31 22:00:00,"3,499.00",15.33,22,12,31,"3,671.00","3,856.00","4,012.00","4,199.00","4,319.00",...,"3,912.00","3,893.00",17.00,16.67,18.00,20.00,22.33,23.67,25.00,25.33
2014-12-31 23:00:00,"3,345.00",15.33,23,12,31,"3,499.00","3,671.00","3,856.00","4,012.00","4,199.00",...,"4,141.00","3,912.00",15.33,17.00,16.67,18.00,20.00,22.33,23.67,25.00

In [12]:
# create rolling window features
from pandas import concat
load_val = ts_data[['load']]
shifted = load_val.shift(1)
window = shifted.rolling(window=6)
means = window.mean()
new_dataframe = concat([means, load_val], axis=1)
new_dataframe.columns = ['load_rol_mean', 'load']
new_dataframe.head(10)

                     load_rol_mean     load
2012-01-01 00:00:00            NaN 2,698.00
2012-01-01 01:00:00            NaN 2,558.00
2012-01-01 02:00:00            NaN 2,444.00
2012-01-01 03:00:00            NaN 2,402.00
2012-01-01 04:00:00            NaN 2,403.00
2012-01-01 05:00:00            NaN 2,453.00
2012-01-01 06:00:00       2,493.00 2,560.00
2012-01-01 07:00:00       2,470.00 2,719.00
2012-01-01 08:00:00       2,496.83 2,916.00
2012-01-01 09:00:00       2,575.50 3,105.00

In [15]:
# create rolling window features
load_val = ts_data[['load']]
width = 4
shifted = load_val.shift(width - 1)
window = shifted.rolling(window=width)
new_dataframe = pd.concat([window.min(),
                           window.mean(), window.max(), load_val], axis=1)
new_dataframe.columns = ['min', 'mean', 'max', 'load']
new_dataframe.head(10)

                         min     mean      max     load
2012-01-01 00:00:00      NaN      NaN      NaN 2,698.00
2012-01-01 01:00:00      NaN      NaN      NaN 2,558.00
2012-01-01 02:00:00      NaN      NaN      NaN 2,444.00
2012-01-01 03:00:00      NaN      NaN      NaN 2,402.00
2012-01-01 04:00:00      NaN      NaN      NaN 2,403.00
2012-01-01 05:00:00      NaN      NaN      NaN 2,453.00
2012-01-01 06:00:00 2,402.00 2,525.50 2,698.00 2,560.00
2012-01-01 07:00:00 2,402.00 2,451.75 2,558.00 2,719.00
2012-01-01 08:00:00 2,402.00 2,425.50 2,453.00 2,916.00
2012-01-01 09:00:00 2,402.00 2,454.50 2,560.00 3,105.00

In [16]:
# create expanding window features
load_val = ts_data[['load']]
window = load_val.expanding()
new_dataframe = concat([window.min(),
                        window.mean(), window.max(), load_val. shift(-1)], axis=1)
new_dataframe.columns = ['min', 'mean', 'max', 'load+1']
new_dataframe.head(10)

                         min     mean      max   load+1
2012-01-01 00:00:00 2,698.00 2,698.00 2,698.00 2,558.00
2012-01-01 01:00:00 2,558.00 2,628.00 2,698.00 2,444.00
2012-01-01 02:00:00 2,444.00 2,566.67 2,698.00 2,402.00
2012-01-01 03:00:00 2,402.00 2,525.50 2,698.00 2,403.00
2012-01-01 04:00:00 2,402.00 2,501.00 2,698.00 2,453.00
2012-01-01 05:00:00 2,402.00 2,493.00 2,698.00 2,560.00
2012-01-01 06:00:00 2,402.00 2,502.57 2,698.00 2,719.00
2012-01-01 07:00:00 2,402.00 2,529.62 2,719.00 2,916.00
2012-01-01 08:00:00 2,402.00 2,572.56 2,916.00 3,105.00
2012-01-01 09:00:00 2,402.00 2,625.80 3,105.00 3,174.00